.mypost {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayCards {
    width: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}