.home {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.home__cards {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    .home_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .home_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}